.grid-container {
    display : flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    text-align: center;
}

.player-grid {
    background-color:whitesmoke;
    height: 40vw;
    width: 40vw;
    border: solid gray 1px;
    border-radius: 5%;
    padding: 2em;
    padding-top: 0em;
    padding-left: 0em;
}

table{
    height: 100%;
    width: 100%;
    table-layout: fixed;
    padding: 2px;
    margin: 2px;
    border-spacing: 0px;
}

table tr:last-child{
    border-bottom: solid whitesmoke 2px;
}

th{
    text-align: center;
    height: 8%;
    width: 8%;
}

td{
    border: 2px solid whitesmoke;
    border-radius: 5%;
    text-align: center;
    height: 8%;
    width: 8%;
}

td:hover {
    border: 3px solid gray;
}

.highlight{
    color: red;
}

.water{
    background-color: cornflowerblue;
}

.selected{
    background-color:darkgreen;
}

.valid{
    background-color:green;
}

.projection{
    background-color: gold;
}

.ship{
    background-color: darkgray;
}

@media only screen and (max-width:900px){
    .grid-container {
        flex-flow: column;
    }

    .player-grid{
        height: 45vh;
        width: 45vh; 
    }
}