<div class="grid-container">
  <div *ngIf="!placement">
    <h4 class="title">Opponent ships</h4>
    <hr>
    <div class="player-grid">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let letter of letters" [ngClass]="{'highlight':letter==hoverCol}">{{letter}}</th>
        </tr>
        <tr *ngFor="let indexRow of indices">
          <th id=legend{{indexRow}} [ngClass]="{'highlight':indexRow==hoverRow}">{{indexRow}}</th>
          <td *ngFor="let letter of letters" 
          (click)="fire($event)"
          (mouseenter)="highlight($event,true)" 
          (mouseleave)="highlight($event,false)" 
          id="grid1-{{letter+'-'+indexRow}}"
          [ngClass]="{'water':targetGrid[letter][indexRow]==targetStates.clear,
                      'miss':targetGrid[letter][indexRow]==targetStates.miss,
                      'hit':targetGrid[letter][indexRow]==targetStates.hit,
                      'sunk':targetGrid[letter][indexRow]==targetStates.sunk}">
            <!-- <i class="fa fa-times" *ngIf="targetGrid[letter][indexRow]!=targetStates.clear"></i> -->
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngIf="placement">
    <h4>Ship left to place</h4>
    <hr>
    <div>
      <p *ngFor="let key of shipsKeys">
        {{key}} : {{shipToPlace[key]}}
      </p>
    </div>
  </div>
  <div>
    <h4 class="title">Your ships</h4>
    <hr>
    <div class="player-grid">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let letter of letters">{{letter}}</th>
        </tr>
        <tr *ngFor="let indexRow of indices">
          <th id="legend{{indexRow}}">{{indexRow}}</th>
          <td *ngFor="let letter of letters" 
          id="grid2-{{letter+'-'+indexRow}}" 
          (click)="place($event)"
          [ngClass]="{'selected':origin!=null&&origin.getLetter()==[letter]&&origin.getNumber()==[indexRow],
                      'water':fleetGrid[letter][indexRow]==states.empty,
                      'valid':fleetGrid[letter][indexRow]==states.valid,
                      'projection':fleetGrid[letter][indexRow]==states.projection,
                      'ship':fleetGrid[letter][indexRow]==states.ship,
                      'shipEnd':fleetGrid[letter][indexRow]==states.shipEnd}"
          (mouseenter)="highlightProjection($event,states.projection)" 
          (mouseleave)="highlightProjection($event,states.valid)"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
